.cart{

}
.cart .container{

}
.cart .container h1{
    color: var(--secondary-color);
    margin-top: 39px;
    text-align: center;
    margin-bottom: 39px;
}
.cart .container .row{
    display: flex;
    justify-content: space-between;
}
.cart .container .row button{
    background-color: var(--main-color);
    color: white;
    border: none;
    padding: 8px 32px;
    border-radius: 5px;
    font-size: 18px;
    margin-bottom: 16px;

}
.cart .container .row p{
    border: 1px solid var(--main-color);
    height: fit-content;
    font-size: 20px;
    padding: 8px;
    background-color: #F1F8E9;
}
.cart .container table{
    width: 100%;
    text-align: center;
}
.cart .container table tr{

}
.cart .container table th,.cart .container table td{
    padding: 7px;
}
.cart .container table th{
    background-color: var(--main-color);
    color: white;
}
.cart .container table td{
    background-color: #DCEDC8;
}
.cart .container table td img{
    max-width: 100%;
    width: 80px;
    height: 80px;
}
.cart .container table td p{

}
.cart .container table tr td:nth-child(6){
    display: flex;
    justify-content: center;
    height: 98px;
    align-items: center;
}

.cart .container table tr td:nth-child(6) button{
    background-color: var(--main-color);
    color: white;
    border: navajowhite;
    width: 25px;
    height: 25px;
    font-size: 26px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.cart .container table tr td:nth-child(6) span{
    width: 25px;
    height: 25px;
    background-color: #8BC34A;
}
.cart .container table tr td:nth-child(7) button{
    border: none;
    background-color: red;
    color: white;
    width: 32px;
    height: 32px;
    border-radius: 5px;
    font-size: 30px;
}
.cart .container table tr td:nth-child(7) button p{
    transform: rotateZ(45deg);
}